[build]
  base = "frontend"
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "18"

# Redirects for internationalization
[[redirects]]
  from = "/"
  to = "/fr"
  status = 302
  force = false

[[redirects]]
  from = "/*"
  to = "/:splat"
  status = 200
